.Titulo-EmptyTodos {
    text-align: center;  /* Centrar el texto horizontalmente */
    margin-top: 20px;    /* Ajusta el espacio superior según sea necesario */
    font-size: 1.5em;    /* Ajusta el tamaño de la fuente según sea necesario */
    color: #333;         /* Ajusta el color del texto según sea necesario */
  }
  